
body {
    background-color: #8E7F73;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    background: rgb(120, 112, 112);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding-top: 60px;
    background-color: #392E25;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.title {
    display: block;
    margin: 0px;
}

.title h1 {
    font-size: 75px;
    padding-top: 0px;
    color: #79512e;
}
.title h2{
    font-size: 50px;
    padding-top: 0px;
    color: #79512e;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 25px;
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
    background-color: #8E7F73;
    border-radius: 10px;
}

.grid-container h3 {
    font-size: 1.6em;
    margin: 20px 0 8px;
    font-family: 'Arial', sans-serif;
    color: #79512e;
}

.grid-container p {
    margin-top: 5px;
    font-size: 1em;
    opacity: 0.7;
    color: #dcdde1;
}

.project {
    background-color:#8E7F73;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.project:hover {
    transform: scale(1.1);
    box-shadow:  0 0 18px rgba(147, 149, 149, 0.6);
    background-color:  rgb(66, 70, 69);
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(41, 128, 185, 0.2), transparent);
    transition: left 0.5s ease-in-out;
}

.project:hover::before {
    left: 100%;
}

.project img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 160px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding-top: 60px;
    }

    .title {
        display: block;
        margin: 0px;
    }

    .title h1 span {
        font-size: 75px;
        padding-top: 0px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 10px;
    }

    .project {
        width: 95%; 
        max-width: 420px; 
    }
}
